.d-flex {
    display: flex;
}

body {
    border: solid 2mm black;
}

.justify-content-between {
    justify-content: space-between;
}

header,
footer {
    background-color: rgb(0, 0, 62);
    color: #f7f7f7;
    padding: 1rem;
    align-items: center;
}

.personal,
.professional {
    width: 70%;
}

.contact,
.skills {
    width: 30%;
}

.contact ul li {
    margin: 1rem 0;
}

.soft-skills ul li {
    margin: 1rem 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

main {
    padding: 2rem
}


h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    padding: 0 1rem;
}

hr {
    width: 95%;
}

.skills {
    text-align: center;
}

.languages {
    margin: 1rem 0;
}

progress {
    width: 200px;
    height: 20px;
}

progress ::-ms-fill {
    background-color: #e90d0d;
}

.fontTexts {
    font-family: Calibri;
}

.noMT {
    margin-top: 0px !important;
}

.noMB {
    margin-bottom: 0px !important;
}

.noP {
    padding: 0px !important;
}

.pl2em {
    padding-left: 2em !important;
}

.dates {
    color: gray;
}

html {
    background-color: azure;
}

.w40 {
    width: 40%;
}

.fontWhite {
    color: #f7f7f7;
}

.fontLightBlue {
    color: rgb(34, 88, 170);
}